.statistics {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 40px;
}

.item {
    text-align: center;
    padding: 20px;
    text-align: center;
    flex-direction: column;
}

.title {
    width: auto;
    background-color: #fff;
    color: gray;
    font-size: 16px;
    margin: 0;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
}

.statList {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.statisticlist {
    list-style: none;
    display: flex;
}

.label {
    color: black;
    font-weight: 600;
    display: block;
}

.percentage {
    color: black;
}